@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI'), url(../fonts/Ser\ light.woff2) format('woff');
}

@font-face {
  font-family: 'Segoe UI B';
  src: local('Segoe UI B'), url(../fonts/Ser.woff2) format('woff');
}



body {
  margin: 0;
}

.App {
  font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: rgb(38, 38, 38);
}

.Sub-Main {
  padding: 0 58px;
}